html,
body {
  margin: 0;
  padding: 0;
  background-color: #553D67;
  font-family: 'Helvetica';
  overflow: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */

  /* max-width: 1500px; */
  /* min-width: 100px; */
}

.header {
  width: 100%;
  background-color: #2F2FA2;
  padding: 10px;
  color: white;
  font-size: 32px;
  text-align: center;
}

.menu {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 2px;
}

.btL,
.btR,
.sld {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.list {
  padding: 5px;
}

.list button {
  margin-left: 5px;
}

.box {
  width: 100%;
  min-height: 400px;
  margin-top: 1px;
  text-align: center;
}

.name {
  width: 100%;
  background-color: #F64C72;
  padding: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #2F2FA2;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 5px;
  color: white;
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
}